# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.venv/
venv/

# Local files
.env
Users.db
tmp_uploads/
tmp/
*.mp4

# Git
.git/
.gitignore

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

email + password.txt